.footer {
    position: fixed;

    width: 100%;
    
    /* Set the fixed height of the footer here */
    
  }

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body, html {
    height: 100%;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition:all .4s
}

a:focus {
    outline:none !important
}

a:hover {
    text-decoration:none
}

h1, h2, h3, h4, h5, h6 {
    margin:0
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin:0
}

ul, li {
    margin: 0;
    list-style-type:none
}

